{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmAtividade" action="{{ path('atividadeSalvar')}}" method="POST">
                    <h4>As atividades do quadro {% if quadro is defined %}de {{quadro.tipo == 'C' ? "comportamento" : "mesada"}} para {{ quadro.crianca }} {% endif %}</h4>
                    <label for="atividade" class="sr-only">Atividade</label>
                    <input type="text" name="atividade" class="col-lg-6" placeholder="Escovar os dentes" autofocus required data-validation-required-message="Qual a atividade?">
                    <label for="valor" class="sr-only">Valor</label>
                    <input type="text" name="valor" class="col-lg-2" placeholder="Pontos?" required data-validation-required-message="Quanto vale a atividade">
                    <label for="proposito" class="sr-only">Propósito</label>
                    <select name="proposito" class="col-lg-4">
                        <option value="">Propósito</option>
                        <option value="H">Melhorar higiene</option>
                        <option value="C">Trabalhar comportamento</option>
                        <option value="A">Maior autonomia</option>
                        <option value="D">Habilidade doméstica</option>
                        <option value="F">Atividade física</option>
                    </select>
                    <div>&nbsp;</div>
                    <center>
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    <center>
                    <input type="hidden" name="id" value="{% if atividade is defined %} {{ atividade.id }} {% endif %}">
                </form>
            </div>
        </div>
        <div class="row">
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></span></th>
                            <th></span></th>
                            <th><span class="glyphicon glyphicon-heart"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            <td>{{ atividade.descricao}}</td>
                            <td>{{ atividade.valor}}</td>
                            <td class="info" name="seg_{{ atividade.id}}"></td>
                            <td class="info" name="ter_{{ atividade.id}}"></td>
                            <td class="info" name="qua_{{ atividade.id}}"></td>
                            <td class="info" name="qui_{{ atividade.id}}"></td>
                            <td class="info" name="sex_{{ atividade.id}}"></td>
                            <td class="info" name="sab_{{ atividade.id}}"></td>
                            <td class="info" name="dom_{{ atividade.id}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Quer dicas de atividades? Veja nossa seção de <b><a href="{{ path('indexDica')}}">dicas</a></b></p>
            <p>O link para o quadro é <b><a href="quadromagico.com.br/quadro/{{ quadro.crianca }}">quadromagico.com.br/quadro/{{ quadro.crianca }}</a></b></p>
        </div>
    </div>
</footer>
{% endblock %}
