{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmQuadro" action="./salvar">
                    Olá <b>Fulano</b>,<br />
                    Você quer criar um quadro de <input type="radio" name="optQuadro" value="C" checked> <b>comportamento</b> ou de <input type="radio" name="optQuadro" value="M"> <b>mesada</b> para o meu <input type="radio" name="optGenero" value="M" checked> <b>filho</b> ou minha <input type="radio" name="optGenero" value="F"> <b>filha</b> que tem <input type="number" name="numIdade" style="width:7%" placeholder="NN" required> anos e se chama <input type="text" name="nomCrianca" style="width:25%" placeholder="nome dele ou dela" required> . Caso sejam cumpridas mais de 70% das tarefas na semana, a <b>recompensa</b> combinada será <input type="text" name="desMeta" style="width:70%" placeholder="ir à praça? Mais 15 minutos na TV? Ser escoteiro?">
                    <br />
                    <br />
                    <center><input type="submit" value="Salvar"></center>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if quadro is defined %}
                    {% for quadro in quadros %}
                    <div class="post-preview">
                        <a href="quadromagico.com.br/quadro/{{ quadro.chave }}">Link para o quadro quadromagico.com.br/quadro/{{ quadro.chave }}</a>
                        <p class="post-meta">Um quadro de: {{ quadro.tipo }}</p>
                        <p class="post-meta">Para: {{ quadro.crianca }}</a></p>
                    </div>
                    <a href="{{ app.url_generator.generate('cadastrarAtividade') }}"><button>Atividade</button></a>
                    <hr>
                    {% endfor %}
                {% else %}
                    <div class="post-preview">
                        <br />
                        <p class="post-meta" align="center">Nenhum quadro cadastrado</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
