{% extends 'leiaute.twig' %}
{% block titulo %}Um desejo por semana - Mintas Atividades{% endblock %}

{% block topo %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="page-header" style="background-image: url('{{ asset('topo_reduzido.png', 'img') }}')">
    </header>
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmAtividade" action="{{ path('atividadeSalvar')}}" method="POST" enctype='multipart/form-data'>
                    <h4>Quer criar novas atividades para o quadro {% if quadro is defined %}de {{quadro.tipo == 'T' ? "Tarefa" : "Mesada"}} para {{ quadro.crianca }} ?{% endif %}</h4>
                    <label for="atividade" class="sr-only">Atividade</label>
                    <input type="text" name="atividade" class="col-lg-9" placeholder="Escovar os dentes" autofocus required 
                    data-validation-required-message="Qual a atividade?">
                    <label for="valor" class="sr-only">Valor</label>
                    <input type="number" name="valor" class="col-lg-3" placeholder="Pontos ou $?">
                    <label for="proposito" class="sr-only">Propósito</label>
                    <select name="proposito" class="col-lg-4" required>
                        <option value="">Propósito</option>
                        <option value="E">Escola</option>
                        <option value="H">Higiene</option>
                        <option value="C">Comportamento</option>
                        <option value="A">Autonomia</option>
                        <option value="D">Casa</option>
                        <option value="F">Exercício</option>
                        <option value="R">Refeição</option>
                        <option value="I">Espiritualidade</option>
                    </select>
                    <label for="imagem" class="sr-only">Imagem</label>
                    <input type="file" name="imagem" id="imagem" class="col-lg-8">
                    <div>&nbsp;</div>
                    <center><button class="btn btn-primary" type="submit">Cadastrar</button><center>
                </form>
            </div>
        </div>
        <div class="row">
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Propósito</th>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr align="center">
                            {% if atividade.imagem is not null %}
                            <td><img src="{{ asset(atividade.imagem, 'file') }}" width="100" height="100"></td>
                            {% else %}
                            <td width="100" height="100">&nbsp;</td>
                            {% endif %}
                            {% if atividade.proposito == 'E' %} {% set proposito = 'Escola' %}
                            {% elseif atividade.proposito == 'H' %} {% set proposito = 'Higiene' %}
                            {% elseif atividade.proposito == 'C' %} {% set proposito = 'Comportamento' %}
                            {% elseif atividade.proposito == 'A' %} {% set proposito = 'Autonomia' %}
                            {% elseif atividade.proposito == 'D' %} {% set proposito = 'Casa' %}
                            {% elseif atividade.proposito == 'F' %} {% set proposito = 'Exercício' %}
                            {% elseif atividade.proposito == 'R' %} {% set proposito = 'Refeição' %}
                            {% elseif atividade.proposito == 'I' %} {% set proposito = 'Espiritualidade' %}
                            {% endif %}
                            <td align="center">{{ proposito }}</td>
                            <td align="left">{{ atividade.atividade }}</td>
                            <td align="center">{{ atividade.valor }}</td>
                            <td align="center"><a href="{{ path('atividadeExcluir',{id:atividade.id})}}"><span class="glyphicon glyphicon-remove">&nbsp;</span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Quer dicas de atividades? Veja nossa seção de <b><a href="{{ path('indexDica')}}">dicas</a></b></p>
        </div>
    </div>
</footer>
{% endblock %}
