{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmQuadro" action="{{ path('quadroSalvar')}}" method="POST">
                    <h4>Crie o seu quadro</h4>
                    <label for="tipo" class="sr-only">Tipo de quadro</label>
                    <select name="tipo"  class="col-lg-4" autofocus>
                        <option value="" selected>Um quadro de</option>
                        <option value="C">Comportamento</option>
                        <option value="M">Mesada</option>
                    </select>
                    <select name="genero" class="col-lg-4">
                        <option value="" selected>Para</option>
                        <option value="M">um menino</option>
                        <option value="F">uma menina</option>
                    </select>
                    <input type="number" name="idade" class="col-lg-4" placeholder="Com XX anos" required data-validation-required-message="Quantos anos ele ou ela tem?">
                    <label for="nome" class="sr-only">Nome</label>
                    <input type="text" name="crianca" class="form-control" placeholder="Chamado (a)" required data-validation-required-message="Qual o nome dele ou dela?">
                    <label for="nome" class="sr-only">Recompensa</label>
                    <input type="text" name="recompensa" class="form-control" placeholder="Quer quer" required data-validation-required-message="Qual a recompensa combinada?">
                    <br />
                    <center>
                        <button class="btn btn-primary" type="submit">Criar</button>
                    <center>
                    <input type="hidden" name="id" value="{% if id is defined %} {{ id }} {% endif %}">
                </form>
                {% if mensagem is defined %}
                <div class="alert alert-success">
                    {{ mensagem }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if quadro is defined %}
                    {% for quadro in quadros %}
                    <div class="post-preview">
                        <a href="quadromagico.com.br/quadro/{{ quadro.chave }}">Link para o quadro quadromagico.com.br/quadro/{{ quadro.chave }}</a>
                        <p class="post-meta">Um quadro de: {{ quadro.tipo }}</p>
                        <p class="post-meta">Para: {{ quadro.crianca }}</a></p>
                    </div>
                    <a href="{{ app.url_generator.generate('cadastrarAtividade') }}"><button>Atividade</button></a>
                    <hr>
                    {% endfor %}
                {% else %}
                    <div class="post-preview">
                        <br />
                        <p class="post-meta" align="center">Nenhum quadro cadastrado</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
