{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="frmAtividade" action="{{ path('atividadeSalvar')}}" method="POST" enctype='multipart/form-data'>
                    <h4>Atividades do quadro {% if quadro is defined %}de {{quadro.tipo == 'C' ? "comportamento" : "mesada"}} para {{ quadro.crianca }} {% endif %}</h4>
                    <label for="atividade" class="sr-only">Atividade</label>
                    <input type="text" name="atividade" class="col-lg-9" placeholder="Escovar os dentes" autofocus required 
                    data-validation-required-message="Qual a atividade?">
                    <label for="valor" class="sr-only">Valor</label>
                    <input type="number" name="valor" class="col-lg-3" placeholder="Pontos?">
                    <label for="proposito" class="sr-only">Propósito</label>
                    <select name="proposito" class="col-lg-4" required>
                        <option value="">Propósito</option>
                        <option value="E">Escola</option>
                        <option value="H">Higiene</option>
                        <option value="C">Comportamento</option>
                        <option value="A">Autonomia</option>
                        <option value="D">Casa</option>
                        <option value="F">Exercício</option>
                    </select>
                    <label for="imagem" class="sr-only">Imagem</label>
                    <input type="file" name="imagem" id="imagem" class="col-lg-8">
                    <div>&nbsp;</div>
                    <center><button class="btn btn-primary" type="submit">Cadastrar</button><center>
                </form>
            </div>
        </div>
        <div class="row">
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th>&nbsp;</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr align="center">
                            <td><img src="{{ asset(atividade.imagem, 'file') }}" width="100" height="100"></td>
                            <td align="left">{{ atividade.atividade}}</td>
                            <td align="left">{{ atividade.valor}}</td>
                            <td class="info" name="seg_{{ atividade.id}}"></td>
                            <td class="info" name="ter_{{ atividade.id}}"></td>
                            <td class="info" name="qua_{{ atividade.id}}"></td>
                            <td class="info" name="qui_{{ atividade.id}}"></td>
                            <td class="info" name="sex_{{ atividade.id}}"></td>
                            <td class="info" name="sab_{{ atividade.id}}"></td>
                            <td class="info" name="dom_{{ atividade.id}}"></td>
                            <td class="info" name="exc_{{ atividade.id}}"><a href="{{ path('atividadeExcluir',{id:atividade.id})}}"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Quer dicas de atividades? Veja nossa seção de <b><a href="{{ path('indexDica')}}">dicas</a></b></p>
        </div>
    </div>
</footer>
{% endblock %}
