{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Oi <b>{{quadro.crianca}}</b>, vamos ganhar um pedido especial? Complete todas as atividades do dia e ganhe um coração.</p>
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            {% if atividade.imagem is not null %}
                            <td><img src="{{ asset(atividade.imagem, 'file') }}" width="100" height="100"></td>
                            {% else %}
                            <td width="100" height="100"></td>
                            {% endif %}
                            <td>{{ atividade.atividade}}</td>
                            <td>{{ atividade.valor}}</td>
                            {% for marcacao in atividade['marcacoes'] %}
                            <!-- Segunda -->
                            {% if marcacao.segunda == 'S' %}    
                            <td class="success" name="seg_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.segunda == 'N' %}    
                            <td class="danger" name="seg_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="seg_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Terca -->
                            {% if marcacao.terca == 'S' %}    
                            <td class="success" name="ter_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.terca == 'N' %}    
                            <td class="danger" name="ter_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="ter_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Quarta -->
                            {% if marcacao.quarta == 'S' %}    
                            <td class="success" name="qua_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.quarta == 'N' %}    
                            <td class="danger" name="qua_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="qua_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Quinta -->
                            {% if marcacao.quinta == 'S' %}    
                            <td class="success" name="qui_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.quinta == 'N' %}    
                            <td class="danger" name="qui_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="qui_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Sexta -->
                            {% if marcacao.sexta == 'S' %}    
                            <td class="success" name="sex_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.sexta == 'N' %}    
                            <td class="danger" name="sex_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="sex_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Sabado -->
                            {% if marcacao.sabado == 'S' %}    
                            <td class="success" name="sab_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.sabado == 'N' %}    
                            <td class="danger" name="sab_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="sab_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            <!-- Domingo -->
                            {% if marcacao.domingo == 'S' %}    
                            <td class="success" name="dom_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% elseif marcacao.domingo == 'N' %}    
                            <td class="danger" name="dom_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            {% else %}
                            <td class="info" name="dom_{{ atividade.id}}"><span>&nbsp;</span></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Em breve vc vai poder enviar mensagem para quem criou o quadro :)</p>
        </div>
    </div>
</footer>
{% endblock %}
