{% extends 'leiaute.twig' %}
{% block titulo %}Um desejo por semana - Meus Quadros{% endblock %}

{% block topo %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-position: 1% 20%; background-image: url('{{ asset('topo_criancas.png', 'img') }}')">
        <div class="container" style="background-color: rgb(0, 0, 0); opacity: 0.5; width: 100%; height: 100%;">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Um desejo por semana</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% if quadro.tipo == 'T' %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc já realizou {{ totalReal}}/{{ totalPrev}} tarefas para alcançar seu desejo esta semana!</p>
            {% else %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc já conquistou {{ totalMesada }} reais de mesada!</p>
            {% endif %}
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            {% if quadro.tipo == 'M' %}
                            <th>Valor</th>
                            {% endif %}
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        {% if quadro.tipo == 'T' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Pedido especial</th>
                            {% if pedidoEspecial['segunda'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['terca'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['quarta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['quinta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['sexta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['sabado'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['domingo'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                        </tr>
                        {% else %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Mesada</th>
                            <th>&nbsp;</th>
                            <th>R$ {{ valorDia['segunda'] }}</th>
                            <th>R$ {{ valorDia['terca'] }}</th>
                            <th>R$ {{ valorDia['quarta'] }}</th>
                            <th>R$ {{ valorDia['quinta'] }}</th>
                            <th>R$ {{ valorDia['sexta'] }}</th>
                            <th>R$ {{ valorDia['sabado'] }}</th>
                            <th>R$ {{ valorDia['domingo'] }}</th>
                        </tr>
                        {% endif %}
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            {% if atividade.imagem is not null %}
                            <td><img src="{{ asset(atividade.imagem, 'file') }}" width="100" height="100"></td>
                            {% else %}
                            <td width="100" height="100"></td>
                            {% endif %}
                            <td>{{ atividade.atividade}}</td>
                            {% if quadro.tipo == 'M' %}
                            <td>{{ atividade.valor}}</td>
                            {% endif %}
                            {% if atividade['marcacoes'] is empty %}
                                <td class="info" id="seg_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="ter_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="qua_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="qui_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="sex_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="sab_{{ atividade.id}}"><span></span></td>
                                <td class="info" id="dom_{{ atividade.id}}"><span></span></td>
                            {% else %}
                                {% for marcacao in atividade['marcacoes'] %}
                                    <!-- Segunda -->
                                    {% if marcacao.segunda == 'S' %}
                                        <td class="success" id="seg_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.segunda == 'N' %}    
                                        <td class="danger" id="seg_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="seg_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Terca -->
                                    {% if marcacao.terca == 'S' %}    
                                        <td class="success" id="ter_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.terca == 'N' %}    
                                        <td class="danger" id="ter_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="ter_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Quarta -->
                                    {% if marcacao.quarta == 'S' %}    
                                        <td class="success" id="qua_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.quarta == 'N' %}    
                                        <td class="danger" id="qua_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="qua_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Quinta -->
                                    {% if marcacao.quinta == 'S' %}    
                                        <td class="success" id="qui_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.quinta == 'N' %}    
                                        <td class="danger" id="qui_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="qui_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Sexta -->
                                    {% if marcacao.sexta == 'S' %}    
                                        <td class="success" id="sex_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.sexta == 'N' %}    
                                        <td class="danger" id="sex_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="sex_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Sabado -->
                                    {% if marcacao.sabado == 'S' %}    
                                        <td class="success" id="sab_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.sabado == 'N' %}    
                                        <td class="danger" id="sab_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="sab_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                    <!-- Domingo -->
                                    {% if marcacao.domingo == 'S' %}    
                                        <td class="success" id="dom_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    {% elseif marcacao.domingo == 'N' %}    
                                        <td class="danger" id="dom_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                                    {% else %}
                                        <td class="info" id="dom_{{ atividade.id}}"><span></span></td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
        <center>
            <input type="submit" class="btn btn-primary" value="Atualizar resultado" onClick="window.location.reload()">
        <center>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Vc faz parte de uma comunidade com muitas outras crianças, jovens e adolescentes no Brasil e no mundo</p>
        </div>
    </div>
</footer>
{% endblock %}
