{% extends 'leiaute.twig' %}
{% block titulo %}Um desejo por semana - Meus Quadros{% endblock %}

{% block topo %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-position: 1% 10%; background-image: url('{{ asset('topo_criancas.png', 'img') }}')">
        <div class="container" style="background-color: rgb(0, 0, 0); opacity: 0.5; width: 100%; height: 100%;">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">
                    <div class="site-heading">
                        <h1>Um desejo por semana</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <input type="hidden" id="tipo" value="{{ tipo.codigo }}">
        <div class="row">
            {% if tipo.codigo == 'T' %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc conquistou {{ totRealizado}} dos {{ totPrevisto}} pontos ({{ pctRealizado }}%) para alcançar seu desejo esta semana!</p>
            {% elseif tipo.codigo == 'M' %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc conquistou {{ totMesada }} reais de mesada!</p>
            {% else %}
            <p>Oi <b>{{quadro.crianca}}</b>, você está fazendo o seu melhor possível? Vamos em frente!</p>
            {% endif %}
            {% if atividades is defined %}
            <div style="overflow: auto; width: 100%; border: 1px;">
                <table class="table table-borded">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            {% if tipo.codigo == 'M' %}
                            <th>Valor</th>
                            {% endif %}
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        {% if tipo.codigo == 'T' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Pedido especial</th>
                            {% if pedidoEspecial['segunda'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['terca'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['quarta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['quinta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['sexta'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['sabado'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                            {% if pedidoEspecial['domingo'] == true %}
                                <th><span class="glyphicon glyphicon-heart"></span></th>
                            {% else %}
                                <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            {% endif %}
                        </tr>
                        {% elseif tipo.codigo == 'M' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Mesada</th>
                            <th>R$ {{ valorDia['segunda'] }}</th>
                            <th>R$ {{ valorDia['terca'] }}</th>
                            <th>R$ {{ valorDia['quarta'] }}</th>
                            <th>R$ {{ valorDia['quinta'] }}</th>
                            <th>R$ {{ valorDia['sexta'] }}</th>
                            <th>R$ {{ valorDia['sabado'] }}</th>
                            <th>R$ {{ valorDia['domingo'] }}</th>
                        </tr>
                        {% elseif tipo.codigo == 'F' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>O dia foi</th>
                            <th>{{ resultado['segunda'] }}</th>
                            <th>{{ resultado['terca'] }}</th>
                            <th>{{ resultado['quarta'] }}</th>
                            <th>{{ resultado['quinta'] }}</th>
                            <th>{{ resultado['sexta'] }}</th>
                            <th>{{ resultado['sabado'] }}</th>
                            <th>{{ resultado['domingo'] }}</th>
                        </tr>
                        {% endif %}
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            {% if atividade.imagem is not null %}
                            <td class="imagem"><img src="{{ asset(atividade.imagem, 'file') }}"></td>
                            {% else %}
                            <td class="imagem"></td>
                            {% endif %}
                            <td>{{ atividade.atividade}}</td>
                            {% if tipo.codigo == 'M' %}
                            <td>{{ atividade.valor}}</td>
                            {% endif %}
                            {% for marcacao in marcacoes  %}
                            <td class="emoji" id="{{ marcacao.id }}"><span class="{{ marcacao.emoji }}"></span></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
        <center>
            <input type="submit" class="btn btn-primary" value="Atualizar resultado" onClick="window.location.reload()">
        <center>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Vc faz parte de uma comunidade com muitas outras crianças, jovens e adolescentes no Brasil e no mundo</p>
        </div>
    </div>
</footer>
{% endblock %}
