{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Oi <b>{{quadro.crianca}}</b>, vamos ganhar um pedido especial? Complete todas as atividades do dia e ganhe um coração.</p>
            {% if atividades is defined %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            <th>Valor</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                            <th><span class="glyphicon glyphicon-heart-empty"></span></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            <td><img src="{{ asset(atividade.imagem, 'file') }}" width="75" height="75"></td>
                            <td>{{ atividade.atividade}}</td>
                            <td>{{ atividade.valor}}</td>
                            <td class="info" name="seg_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="ter_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="qua_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="qui_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="sex_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="sab_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                            <td class="info" name="dom_{{ atividade.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Em breve vc vai poder enviar mensagem para quem criou o quadro :)</p>
        </div>
    </div>
</footer>
{% endblock %}
